#fullpage.noscroll {
    max-height: 100vh;
}

.section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

.section#home {
    background-image: url(../media/home.jpg);
}

.section#aboutus {
    background-image: url(../media/aboutus.jpg);
}

.section#gallery {
    background-color: lightgreen;
}

.section#events {
    background-color: cyan;
}

.section#contactus {
    background-color: pink;
}

/* Page 1 design starts */

.head {
    font-family: eczar;
    color: black;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: wheat;
    border: 2px dotted black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.head .tagline {
    font-size: 2rem;
}

.foot {
    display: flex;
    background-color: white;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 10vh;
    bottom: 0%;
    left: 0%;
}

.foot div {
    height: 8vh;
    width: calc(90vw/5);
    border: 2px solid black;
    padding: calc(3vh/2);
}

.foot div h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
}

.foot div p {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(202, 157, 90);
}

/* Page 1 design ends*/

/* Page 2 design starts */

.aucontainer {
    position: absolute;
    height: 60vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.8);
    top: 20%;
    bottom: 20%;
    border-radius: 50px;
}

.auhead {
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 3rem;
}

.aucontent {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 35vh;
    top: 15%;
    padding: 0 5% 5% 5%;
    text-align: start;
    font-size: 2rem;
    margin: 0 5% 5% 5%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

/* Page 2 design ends*/

/* Page 3 design starts */

.slider {
    height: 800px;
    width: 600px;
}
.slides {
    position: relative;
    
    top: 30%;
    left: 30%;
}

/* Page 4 design starts */
.grid {
    margin: 5%;
    max-height: 100vh;
}

.grid .box{
    position: relative;
    float: left;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid white;
}

.grid .box .content{
    position: absolute;
    text-align: center;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 60%;
    box-sizing: border-box;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.grid .box:hover .content{
    background-color: black;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.grid .box .content h3{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

/* Page 4 design ends*/

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
  }
  
  
  h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  
  
  .form-item {
    position: relative;
  }
  
  label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  